@import "../../app/media.scss";
.catalogAll {
  position: relative;
  &Box {
    display: flex;
    position: relative;
  }
  &__title {
    margin-top: 50px;
    margin-bottom: 30px;
    width: fit-content;
    @include media(750) {
      margin-top: 35px;
    }
  }
}
.category {
  transition: 0.5s ease-in-out;

  @include media(1250) {
    position: absolute;
    background-color: white;
    z-index: 5;
    box-shadow: 0px 1px 10px 0px #00000026;
    padding: 50px;
    width: 500px;
    border-radius: 10px;
    transform: translate(-100%);
    opacity: 0;
  }
  @include media(1000) {
    padding: 45px;
  }
  @include media(900) {
    padding: 40px;
  }
  @include media(700) {
    padding: 35px;
  }
  @include media(500) {
    padding: 30px;
  }
}
.openCategory {
  & * {
    animation: 1s alternate catalogOpenAnime;
  }
  @include media(1250) {
    transform: translate(0);
    opacity: 1;
  }
  @include media(500) {
    width: 100%;
  }
}

.catalogCars {
  width: 100%;
  // flex: 4;
  .catalogHeader {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 15px;
    width: 100%;
    flex-wrap: wrap;
    .catalogButtons {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-content: flex-start;

      button {
        text-wrap: nowrap;
        width: fit-content;
        padding: 10px 15px;
        background-color: #3d3d3d;
        color: white;
        border-radius: 5px;
        border: 1px solid #3d3d3d;
        &:hover {
          background-color: #606060;
        }
        &:focus {
          background-color: #ffffff;
          color: #bf3535;
          border: 1px solid #bf3535;
        }
      }
    }
  }

  .gridLizingCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    @include media(1650) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media(950) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media(600) {
      grid-template-columns: 1fr;
    }
  }
}
