@import "../../../app/media.scss";
.imageOfCar {
  width: 650px;
  // height: 340px;
  margin-top: 50px;
  @include media(1300) {
    width: 570px;
    margin-top: 45px;
  }
  @include media(1100) {
    width: 540px;
    margin-top: 40px;
  }
  @include media(1000) {
    width: 470px;
    margin-top: 40px;
  }
  @include media(900) {
    width: 550px;
    margin-top: 35px;
  }
  @include media(700) {
    width: 500px;
  }
  @include media(600) {
    width: 400px;
  }
  @include media(500) {
    width: 350px;
  }

  .mySwiper {
    .swiperSlide {
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  top: unset !important;
  color: #3d3d3d !important;
}
.swiper-pagination {
  position: unset !important;
}
.swiper-pagination-bullet {
  height: 4px !important;
  width: 50px !important;
  border-radius: 5px !important;
  background-color: #bf3535 !important;
}
