@import "../../../../app/media.scss";
.aboutCarRight__nameBox {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include media(1650) {
    gap: 20px;
  }

  h2 {
    width: fit-content;
    font-size: 22px;
    font-weight: 600;
    line-height: 26.07px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 47%, rgba(191, 53, 53, 1) 64%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    @include media(1650) {
      gap: 20px;
    }
    @include media(900) {
      font-size: 1.5rem;
      align-self: center;
    }
  }
  span {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.59px;
  }
  strong {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
    letter-spacing: 0.02em;
  }
  .view {
    display: flex;
    align-items: center;
    span {
      transition: 0.5s ease-in-out;
    }

    cursor: pointer;
    &:hover span {
      margin-left: 5px;
    }
    &:hover .icon {
      transform: scale(1.3) translate(3px);
    }
  }
  button {
    padding: 10px 0;
    width: 100%;
    border-width: 2px;

    font-size: 16px;
    font-weight: 600;
    line-height: 18.96px;
  }
}
