.lizing {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 380px;
  padding: 20px 10px;
  cursor: pointer;
  // height: 620px;
  .blocks {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    span {
      font-size: 12px;
      font-weight: 500;
      line-height: 14.22px;

      padding: 8px 25px;
      border: 1px solid #3d3d3d;
      border-radius: 5px;
    }
  }
  .picture {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .prices {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .disc {
      font-size: 22px;
      font-weight: 600;
      line-height: 26.07px;
      span {
        color: #bf3535;
      }
    }
    
  }
}
