.currentCar {
  margin-top: 100px;
  .prevPage {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover .icon {
      margin-right: 5px;
      transform: scale(1.3) translate(-3px);
    }
  }
  .aboutCar {
    display: flex;
    .aboutCarLeft {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
    .aboutCarRight {
      &__nameBox {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      &__info {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
  }
}
