@import "../../app/media.scss";
.container {
  .descriptionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin-top: 100px;
    @include media(1500) {
      margin-top: 80px;
      gap: 120px;
    }
    @include media(1300) {
      margin-top: 70px;
      gap: 100px;
    }
    @include media(1100) {
      margin-top: 60px;
      gap: 70px;
    }
    @include media(900) {
      margin: 55px 0;
      gap: 50px;
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
    @include media(750) {
      margin-top: 0px;
      gap: 5px;
    }
    .descBox {
      display: flex;
      flex-direction: column;
      gap: 50px;
      width: 619px;
      max-height: 466px;
      @include media(1300) {
        gap: 40px;
      }
      @include media(1100) {
        gap: 30px;
      }
      @include media(900) {
        gap: 20px;
      }
      @include media(750) {
        gap: 10px;
        margin: 50px 0;
      }
    }
    .descBoxCar {
      // width: 100%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.contactUs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1920px;
  margin: auto;
  margin-top: 180px;
  justify-items: center;
  align-items: start;

  @include media(1500) {
    margin-top: 150px;
  }
  @include media(1300) {
    margin-top: 120px;
  }
  @include media(1100) {
    margin-top: 100px;
  }
  @include media(900) {
    margin-top: 50px;
    grid-template-columns: 1fr;
    gap: 100px;
  }
  .contactus__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    flex: 1;

    &__backNumbers {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      font-size: 200px;
      font-weight: 400;
      line-height: 237px;
      color: #f1f1f1;
      z-index: -1;
      @include media(1500) {
        font-size: 180px;
      }
      @include media(1300) {
        font-size: 160px;
      }
      @include media(1100) {
        font-size: 140px;
      }
      @include media(900) {
        font-size: 160px;
      }
    }
    &:hover .arrow .arrowInside {
      width: 100%;
    }
    span {
      text-wrap: nowrap;
      font-size: 36px;
      font-weight: 500;
      line-height: 42.66px;
      @include media(1500) {
        font-size: 33px;
      }
      @include media(1300) {
        font-size: 30px;
      }
      @include media(1100) {
        font-size: 26px;
      }
      @include media(900) {
        font-size: 45px;
      }
      @include media(700) {
        font-size: 35px;
      }
      @include media(500) {
        font-size: 25px;
      }
    }
    p {
      width: 50%;
      font-size: 20px;
      text-align: center;
      @include media(1300) {
        font-size: 15px;
      }
      @include media(1000) {
        font-size: 13px;
      }
      @include media(900) {
        font-size: 25px;
      }
    }
    .arrow {
      .arrowInside {
        position: absolute;
        left: 0;
        width: 0%;
        transition: 1s;

        .longArrow {
          display: flex;
          align-items: center;
          width: 100%;
          svg {
            transform: translate(-10px);
          }

          &::before {
            content: "";
            width: 100%;
            background-color: #bf3535;
            height: 2px;
            left: 0;
          }
        }
      }
    }
  }
}
