.personalAreaMain {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;

  .personalArea {
    display: flex;
    gap: 100px;

    aside {
      display: flex;
      flex-direction: column;
      gap: 70px;
      span {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.33px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
          color: #bf3535;
        }
      }
    }
    &__Name {
      padding-left: 100px;
      border-left: 5px solid #3d3d3d;
      &__Info {
        margin-bottom: 60px;
        display: flex;
        align-items: center;

        gap: 30px;
        img {
          height: 85px;
          width: 85px;
          border-radius: 50%;
          object-fit: cover;
        }
        h2 {
          font-size: 30px;
          font-weight: 700;
          line-height: 35.55px;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        label {
          font-size: 22px;
          font-weight: 500;
          line-height: 26.07px;
        }
        input {
          border: none;
          border-bottom: 1px solid #cacaca;
          outline: none;
          padding: 10px;
          &::placeholder {
            color: #cacaca;
          }
        }
      }
    }
  }
  .personalManager {
    display: flex;
    flex-direction: column;
    .cardHolder {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      gap: 20px;

      img {
        width: 266px;
        height: 100px;
        object-fit: contain;
        border-radius: 10px;
        border: 1px solid grey;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 70px;
        height: 70px;
        background-color: none;
        border: 3px solid #3d3d3d;
        border-radius: 21px;
        font-size: 50px;
      }
    }
    &__info {
      width: 400px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      &__namebox {
        display: flex;
        flex-direction: column;
        gap: 60px;
        h3 {
          font-size: 28px;
          font-weight: 600;
          line-height: 33.18px;
        }
        div {
          display: flex;
          flex-direction: column;
          gap: 35px;
          span {
            font-size: 17px;
            font-weight: 500;
            line-height: 20.15px;
          }
        }
      }
      &__accauntBox {
        display: flex;
        align-items: end;
        div {
          display: flex;
          flex-direction: column;
          gap: 30px;
          p {
            align-self: flex-end;
            justify-self: flex-end;
          }
          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
            border: 0.5px solid;
          }
        }
      }
    }
  }
}
