@import "../../app/media.scss";
.greatOffer {
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
  @include media(1500) {
    margin-top: 230px;
  }
  @include media(1300) {
    margin-top: 180px;
  }
  @include media(1100) {
    margin-top: 150px;
  }
  @include media(900) {
    margin-top: 100px;
  }
  @include media(700) {
    margin-top: 70px;
  }
  h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 47.4px;
    text-transform: uppercase;
    @include media(1100) {
      font-size: 30px;
    }
    @include media(900) {
      font-size: 25px;
    }
  }
  .anotherCars {
    cursor: pointer;
    a {
      font-size: 20px;
      font-weight: 500;
      line-height: 24.2px;
      margin-bottom: 10px;
    }
    .arrowInside {
      transition: 0.5s;
      width: 0%;
      .longArrow {
        display: flex;
        align-items: center;
        width: 100%;
        svg {
          transform: translate(-10px);
        }

        &::before {
          content: "";
          width: 100%;
          background-color: #bf3535;
          height: 2px;
          left: 0;
        }
      }
    }
    &:hover .arrow .arrowInside {
      width: 100%;
    }
  }
}
.lizingCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 33px;
  margin-top: 50px;
  @include media(1300) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media(1000) {
    margin-top: 45px;
    grid-template-columns: repeat(2, 1fr);
  }
  @include media(900) {
    margin-top: 30px;
  }
  @include media(750) {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  @include media(550) {
  }
}
.carModels {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 200px;
  @include media(1500) {
    margin-top: 150px;
  }
  @include media(1300) {
    margin-top: 120px;
  }
  @include media(1100) {
    margin-top: 90px;
  }
  @include media(800) {
    margin-top: 60px;
  }
  &__emb {
    width: 100%;
    height: 100%;
    img {
      width: 70%;
      height: 70%;
      object-fit: contain;
    }
  }
}
