@import "../../../app/media.scss";
.leasingSchedule {
  box-shadow: 0px 1px 5px 0px #00000026;
  border-radius: 20px;
  margin-top: 40px;

  .leasingPagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;
    cursor: pointer;
    &__Arrow {
      font-size: 40px;
      transition: 0.5s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.8);
      }
    }
    &__buttons {
      display: flex;
      align-items: center;
      gap: 50px;
      @include media(900) {
        gap: 45px;
      }
      @include media(700) {
        gap: 40px;
      }
      @include media(600) {
        gap: 35px;
      }
      @include media(500) {
        gap: 25px;
      }
    }
  }
}
